<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/indexstyle.css') }}">
    <title>Language Data Representations</title>
</head>
<body>
    <div class="App">
        <div class="MainHeading">
            <h1>Major Languages</h1>
        </div>
        <form class="UserNameForm" action="/result" method="post">
            <div class="UsrNmInput">
                <input type="text" name="username" placeholder="Github Username"/>
            </div>
            <div class="SubmitButton">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</body>
</html>